.layout-container {
    max-width: 1080px;
}

.max-img {
    width: 100%;
}


/* ======= màu ===== */

.pg-first {
    background: rgba(13, 87, 105, 0.968)
}

.bg-second {
    background: rgba(255, 221, 0, 0.785);
}

.bg-blue {
    background: rgba(0, 255, 255, 0.984)
}

.white-text {
    color: white;
}

.orange-text {
    color: orange;
}

.red-text {
    color: red;
}


/* ========= căn chỉnh ========= */

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.list-unstyled {
    list-style: none;
}

.text-width {
    font-size: 20px;
}


/* ======= display ===== */

.dis-flex {
    display: flex;
}

.underline-none {
    text-decoration: none;
}

.dis-grid {
    display: grid;
}

.grid-column-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-column-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gap-10 {
    grid-gap: 40px;
}

.border {
    border: 1px solid #000;
}


/* ================ margin ================ */

.mx-0 {
    margin: 0;
}

.mx-auto {
    margin: auto;
}

.mx-top {
    margin-top: 20px;
}


/* ================ padding ================ */

.px-0 {
    padding: 0;
}

.pr-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.p-4 {
    padding: 16px;
}

.p-2 {
    padding: 4px;
}


/* =========== hover ================ */

.hover\:text-blue:hover {
    color: rgb(208, 255, 0);
}

.hover\:bg-white:hover {
    background-color: white;
}


/* ================= ri pon sip============ */

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.gap-8 {
    grid-gap: 32px;
}

.column {
    border: 1px solid #000;
}


/* Màn hình điện thoại quay dọc */


/* prefix: sm -> small */

@media (min-width: 576px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .sm\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* prefix: md -> medium */

@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* prefix: lg -> large */

@media (min-width: 992px) {
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* prefix: xl -> extra large */

@media (min-width: 1024px) {
    .xl\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .xl\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* prefix: 2xl -> extra large */

@media (min-width: 1200px) {
    .xxl\:grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}